* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

/* img sidebar */

.sidebar-img-container {
    width: 350px;        
    height: 100vh;       
    overflow: hidden;    
    position: relative;  
    left: 0;
    top: 0;
}

.sidebar-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    object-position: left;   
}

.sidebar-banner {
    position: absolute;
    top: 53%;
    left: 0;
    width: 100%;
    height: 80px; 
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    z-index: 1;
}

.sidebar-img-container svg {
    position: absolute;
    top: 45%;      
    left: 50%;    
    transform: translateX(-50%);
    z-index: 2;    
}

/* Boxes */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

#intro-box {
    background-color: rgb(241, 238, 238);
    height: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    line-height: 1.6;
    color: rgb(105, 112, 124);
    padding: 50px;
    padding-top: 80px;
    font-size: 24px;
    text-align: center;

}

#form-box {
    background-color: white;
    height: 25%;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    padding-left: 150px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin: 1rem 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(102, 104, 107);
    font-size: 12px;
    font-weight: 400;
}

.form-row label {
    flex: 0 0 150px;   
    text-align: right; 
    margin-right: 1rem;
}

.form-row input {
    width: 180px;
    height: 20px;
    padding-right: 1rem;
    padding-left: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Footer Box */

#footer-box {
    background-color: rgb(241, 238, 238);
    height: 35%;
    padding: 50px;
    text-align: center;
}

#account {
    margin-top: 25px;
    width: 170px;
    height: 35px;
    border-radius: 10px;
    border-color: #fffdfd;
    background-color: rgb(59, 65, 60);
    color: white;
    opacity: 0.8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

#footer-box p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: rgb(105, 112, 124);
    margin-top: 18px;
}

#footer-box a {
    font-weight: 600;
    color: #5e5d5d;
}

/* Pseudo Classes */

input:valid {
    border: 1px solid green;
}

input:invalid:not(:placeholder-shown) {
    border: 1px solid red;
}

input::placeholder {
    color: #ccc;
    font-style: italic;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}